/*Styles for my resume*/

/*Default text for entire resume*/
body {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

/*Settings for entire page*/
#container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

/*Name*/
#name {
	font-size: 3em;
	color:#33485e;
	text-transform: uppercase;
	border-bottom: solid 1px #33485e;
	width: 60%;
	min-width: 300px;
	margin: 0 auto; 
	text-align: center;
}

/*Image*/
img {
	display: none;
}

/*Title*/
#title {
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #33485e;
	text-align: center;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Section titles*/
.sectionheader {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color: #33485e;
	color: white;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 70%;
	min-width: 300px;
}

/*Job Titles*/
.jobtitle {
	font-weight: 600;
	font-size: 1.5em;
}

/*Organizations*/
.organization {
	font-weight: 400;
	font-size: 1.25em;
}

/*Dates*/
.date {
	font-weight: 400;
	font-style: italic;
	font-size: 1em;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Lists*/
ul li {
	font-size: 1em;
	display: inline;
}

/*Contact menu*/
.menu {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	text-align: center;
	display: inline;
}

/*Education*/
#degrees {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

/*Mission statement*/
.top {
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	display: inline;
}